// Custom styles.
hr {
    margin: 0 0 15px 0;
}
.site-author-image {
    border-radius: 100%;
    border: none;
}
ol {
    padding: 0 0 0 10px;
}
ol > li {
    padding-left: 4px;
}
p {
    margin: 0 0 15px 0;
}
a {
    color: #2487e8;
}
b,strong {
    color: #3d8643;
}
.menu a {
    color: #333;
}
h4 { 
    font-size:17px; 
}
h5 { 
    font-size:15px; 
}
@media (min-width: 1600px) {
    body {
        font-size: 15px;
    }
}
.post-copyright strong {
    color: #555;
}
.posts-expand .post-body img {
    margin: 0;
}