// Custom styles.
hr {
    margin: 0 0 15px 0;
}
.site-author-image {
    border-radius: 100%;
    border: none;
}
ol {
    padding: 0 0 0 10px;
}
p {
    margin: 0 0 15px 0;
}
a {
    color: #2487e8;
}
b,strong {
    color: #3d8643;
}
.menu a {
    color: #333;
}